force-app/main/default/flows/El_Trebol_Payment_Detail_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Amount_To_Total_Unit_Now</name>
        <label>Add Amount To Total Unit Now</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>TotalPayedUntilNow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Payment_Detail.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Payment_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Status_To_Payed</name>
        <label>Set Order Status To Payed</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Information.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pagada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Status_to_Payed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Total_Payed_Is_Enough</name>
        <label>If Total Payed Is Enough</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pay_Is_Enough</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalPayedUntilNow</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Order_Information.Total__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Status_To_Payed</targetReference>
            </connector>
            <label>Pay Is Enough</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>El Trebol - Payment Detail After Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>El Trebol - Payment Detail After Insert Update</label>
    <loops>
        <name>For_Each_Payment_Detail</name>
        <label>For Each Payment Detail</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_All_Payment_Details_From_Order</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Amount_To_Total_Unit_Now</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Total_Payed_Is_Enough</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Payment_Details_From_Order</name>
        <label>Get All Payment Details From Order</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Payment_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Information.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Information</name>
        <label>Get Order Information</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Payment_Details_From_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Status_to_Payed</name>
        <label>Update Order Status to Payed</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>Get_Order_Information</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Information</targetReference>
        </connector>
        <object>Payment_Details__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalPayedUntilNow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
