force-app/main/default/flows/El_Trebol_Nueva_Orden.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Table_to_New_Order</name>
        <label>Assign Table to New Order</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>NewOrder.Table__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TableLookup1.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrder.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_New_Order</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>El Trebol - Nueva Orden {!$Flow.CurrentDateTime}</interviewLabel>
    <label>El Trebol - Nueva Orden</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_New_Order</name>
        <label>Insert New Order</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Redirect_To_Order</targetReference>
        </connector>
        <inputReference>NewOrder</inputReference>
    </recordCreates>
    <screens>
        <name>Redirect_To_Order</name>
        <label>Redirect To Order</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RedirectToRecord</name>
            <extensionName>c:flowActionRedirectToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>NewOrder.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Table_Selector</name>
        <label>Table Selector</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Table_to_New_Order</targetReference>
        </connector>
        <fields>
            <name>TableLookup1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Table__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Seleccionar Mesa</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Crear Nueva Orden</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Table_Selector</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order__c</objectType>
    </variables>
    <variables>
        <name>TableId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
