force-app/main/default/flows/Invoice_Item_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Assign automatically the unit price of this Invoice Item based on the data from its related Product. This value will be set once, and only during insertion.</description>
        <name>Assign_Unit_Price_To_Invoice_Item</name>
        <label>Assign Unit Price To Invoice Item</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Information.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Discount_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Information.Discount_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Discount_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Information.Discount_Percentage__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Invoice Item Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>El Trebol - Invoice Item Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the data from the related Product</description>
        <name>Get_Product_Information</name>
        <label>Get Product Information</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Unit_Price_To_Invoice_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Price__c</queriedFields>
        <queriedFields>Discount_Amount__c</queriedFields>
        <queriedFields>Discount_Percentage__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Information</targetReference>
        </connector>
        <object>Invoice_Item__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
