force-app/main/default/flows/Payment_Detail_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>add_Payment_Id_To_List</name>
        <label>add Payment Id To List</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ListofPaymentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Payment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Total_Amount_Payed_Until_Now</name>
        <label>Add Total Amount Payed Until Now</label>
        <locationX>270</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>TotalAmountPayedUntilNow2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Payment_Detail.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Payment_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_As_Payed</name>
        <label>Set Order As Payed</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Order.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pagada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Invoice_Is_Fully_Payed</name>
        <label>If Invoice Is Fully Payed</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_Payed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalAmountPayedUntilNow2</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TotalInvoiceAmount2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Order</targetReference>
            </connector>
            <label>Invoice Payed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TotalInvoiceAmount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Payment__r.Invoice__r.Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalInvoiceAmount2</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Payment__r.Invoice__r.Total__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Payment Detail After Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Detail After Insert Update</label>
    <loops>
        <name>For_Each_Payment</name>
        <label>For Each Payment</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Payments_From_Parent_Invoice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_Payment_Id_To_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_All_Payment_Details_From_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Payment_Detail</name>
        <label>For Each Payment Detail</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <collectionReference>Get_All_Payment_Details_From_Invoice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Total_Amount_Payed_Until_Now</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Invoice_Is_Fully_Payed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Payment_Details_From_Invoice</name>
        <label>Get All Payment Details From Invoice</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Payment_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ListofPaymentIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Payments_From_Parent_Invoice</name>
        <label>Get All Payments From Parent Invoice</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Payment__r.Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Order</name>
        <label>Get Parent Order</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Order_As_Payed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Payment__r.Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <inputReference>Get_Parent_Order</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Payments_From_Parent_Invoice</targetReference>
        </connector>
        <object>Payment_Details__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListofPaymentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalAmountPayedUntilNow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalAmountPayedUntilNow2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
